*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li a {
  color: black;
}

li a:hover {
  color: purple;
}

.container {
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* nav bar links styling */

.background {
  width: 100%;
  height: 35vh;
  background: black url("./images/mension.jpg") no-repeat center;
  background-size: cover;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  background-color: white;
  height: 80px;
  width: 98vw;
}

.logo {
  height: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 25vw;
}

.logo-container h1 {
  font-size: 2em;
}

.nav-bar li a:last-child {
  border: 1px solid black;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

/* INPUT FIELD STLING */

.search-for-movie {
  width: 65vw;
  position: absolute;
  top: 22vh;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form span {
  color: black;
  background-color: #fff;
  height: 7vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 2px solid black;
  border-right: none;
  border-radius: 50px 0px 0px 50px;
  padding: 0 2em;
}

.search-form input {
  width: 80%;
  height: 7vh;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

.search-form button {
  min-width: 20%;
  min-height: 7vh;
  max-height: 7vh;
  border: 2px solid black;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  transition: background-color 1s;
}

.search-form button:hover {
  background-color: rgb(88, 97, 137);
}

/* main contetnt here */

main {
  height: 57vh;
  color: black;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 80vw;
  gap: 20px;
}

.card {
  border: 2px solid black;
  height: 80%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: 25px;
  width: 30vw;
}

.card__img {
  width: 100%;
  height: 20vh;
  background-image: url(./images/realestate.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card__title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.card__disc {
  padding: 0 10%;
  line-height: 1.4z;
}

.card__button {
  padding: 1rem 3rem;
  background-color: red;
  margin: 1.5rem 0;
  font-weight: bold;
}

a {
  display: block;
}
