*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* nav bar links styling */

.background {
  width: 100vw;
  height: 35vh;
  background: black url("./images/mension.jpg") no-repeat center;
  background-size: cover;
  filter: brightness(30%);
  position: absolute;
  top: 0;
}

.nav-bar-links {
  font-family: "Concert One", cursive;
  position: relative;
  list-style-type: none;
  width: 65vw;
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-movies-link {
  color: #fff;
  font-size: 3rem;
  padding: 2rem 4rem;
  border-radius: 30px;
}

.all-movies-link-watchlist {
  color: white;
  font-size: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 30px;
}

.watchlist-link {
  color: white;
  font-size: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 20px;
}

.watchlist-link-watchlist {
  color: #fff;
  font-size: 3rem;
  padding: 2rem 4rem;
  border-radius: 30px;
}

/* INPUT FIELD STLING */



.search-for-movie {
  width: 65vw;
  position: absolute;
  top: 32.5%;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form i {
  color: black;
  background-color: #fff;
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 2px solid black;
  border-right: none;
  border-radius: 50px 0px 0px 50px;
  padding: 0 2em;
}

.search-form input {
  width: 80%;
  height: 5vh;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

.search-form button {
  min-width: 20%;
  min-height: 5vh;
  max-height: 5vh;
  border: 2px solid black;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  transition: background-color 1s;
}

.search-form button:hover {
  background-color: rgb(88, 97, 137);
}


/* main contetnt here */


